:root{
  --mainBlue:rgba(239,235,218,1);
  --lightBlue:#009ffd;
  --mainWhite:#f3ffff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainRed:	#FF6347;
  --mainGreen:rgba(0,255,43,1);
  --mainGrey:rgba(0,0,0,0.3);

}

body{
  font-family: 'Oswald',sans-serif !important;
  background:var(--mainWhite)!important;
  color:var(--mainDark)!important;
  /* min-height:60rem !important; */
}

.text-title{
  /* font-family: "Permanent Marker",cursive; */
  letter-spacing: 0.3 rem;
  text-transform: uppercase; 
}

.text-blue{
  color:var(--mainDark)
}

.text-bright{
  color:var(--lightBlue)
}

.text-red {
  color:var(--mainRed)
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius:0!important;
  border:0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background:var(--mainDark) !important;
  color:var(--mainWhite)!important;

}

.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--mainYellow)
}

.flex-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color:var(--mainBlue);
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
 
.flex-column{
  display: flex;
  /* align-self: center; */
  /* justify-content: center; */
  align-items: center;
  /* align-self: center; */
  width:25%;
  flex-direction: column;
}

.bg-red{ 
  border-bottom:0.09rem solid var(--mainGrey) !important;
}

.text-green {
  color:var(--mainGreen)
}

.bg-theme{
  background:var(--mainBlue)

}